/*=========== Button CSS ==========*/

.boxed-btn {
    background-color: #BA8B00;
    padding: 8px 16px 9px 18px;
    font-weight: 600;
    font-size: 17px;
    border: 0;
    @extend %body-font;
    @extend %posrelative;
    z-index: 2;
    @extend %white-color;
    text-transform: capitalize;
    i{
        width: 25px;
        height: 25px;
        font-size: 15px;
        line-height: 25px;
        background-color: #fff;
        text-align: center;
        padding-left: 3px;
        color: #BA8B00;
        font-weight: 900;
        margin-left: 3px;
        transition: .5s;
        border-radius: 50px;
    }
    &:hover {
        @extend %white-color;
        background-color: #BF2130;
        i{
            // background-color: #BA8B00;
            color: #BF2130;
        }
    }
}

// .bordered-btn {
//     border: 2px solid #2A7D2E;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 16px;
//     background: transparent;
//     &:hover {
//         color: #154D32;
//     }
// }