/*==============Common CSS===================*/

body {
    font-family: $body-font;
    color: $body-color;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: $heading-font;
}
p {
    &:last-child{
    	margin-bottom: 0;
    }
}
a, button, img, input, span {
    @extend %basetransition1; 
}
input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], textarea {
    border-radius: 0px;
    height: 50px;
    padding: 8px 20px;
}
.form-group {
    margin-bottom: 25px;
    .form-control{
        &:focus {
            box-shadow: none;
            @extend %primary-border-color;
        }
        &:hover {
            @extend %primary-border-color;
        }
    }
}
input[type=submit], button[type=submit]{
    cursor: pointer;
}
input, textarea{
	@include placeholder{
		color: $body-color;
	}
}
input[type=submit], button[type=submit]{
    &:hover{
        
    }
}
textarea {
    height: 150px;
    padding: 10px 20px;
    width: 100%;
    // margin-bottom: -7px;
    border-color: #ced4da;
    transition: all .3s ease;
    &:focus {
        @extend %primary-border-color;
    }
    &:hover {
        @extend %primary-border-color;
    }
}
.section-padding{
    padding: 80px 0;
}
/*========.section-title=========*/ 
.section-title {
    h2 {
        text-transform: uppercase;
        margin-bottom: 40px;
        position: relative;
        display: inline-block;
        font-weight: 400;
        font-size: 30px;
        strong{
            font-weight: 700;
            color: #BA8B00;
        }
        &:after, &:before {
            position: absolute;
            left: 50%;
            bottom: -10px;
            content: "";
            width: 100px;
            height: 1px;
            background: #BA8B00;
            margin-left: -50px;
        }
        &:before {
            width: 60px;
            bottom: -16px;
            margin-left: -30px;
        }
    }
}

/*======.owl-dots customization=======*/
.owl-dots {
    text-align: center;
    div {
        height: 5px;
        width: 5px;
        background-color: #BBBBBB;
        display: inline-block;
        margin: 0 5px;
        border-radius: 50%;
        &.active {
            @extend %primary-bg-color;
        }
    }
}
    
/*=====owl nav customization======*/
.owl-nav div {
    @extend %displayinline;
    @extend %posabsolute;
    left: -75px;
    top: 50%;
    @extend %primary-color;
    // background-color: #BA8B0090;
    line-height: 55px;
    margin-top: -30px;
    width: 50px;
    height: 60px;
    font-size: 55px;
    padding-right: 5px;
    // @extend %borderradius50;
    @extend %textcenter;
    @extend %basetransition1;
    opacity: .6;
    &.owl-next {
        left: auto;
        right:-75px;
        padding-left: 5px;
        padding-right: 0;
    }
    &:hover {
        @extend %primary-color;
        opacity: 1;
        // background-color: #BA8B00;
    }
}

select {
    font-size: 19px;
    // color: #0da0f4;
    background-color: #fff;
    padding: 8px 10px;
}

/*========.nice-select=============*/ 
.nice-select {
    width: 100%;
    border-radius: 0px;
    height: 42px;
    line-height: 39px;
    padding-left: 20px;
    border-color: #ced4da;
    font-size: 15px;
    .list {
        width: 100%;
        box-shadow: none;
        border: 1px solid #ced4da;
    }
    &:focus {
        @extend %primary-border-color;
    }
    &:hover {
        @extend %primary-border-color;
    }
    &:after{
        right: 25px;
        border-color: #ced4da;
        width: 10px;
        height: 10px;
        margin-top: -6px;
    }
    &:hover:after {
        @extend %primary-border-color;
    }
}
// .ps__scrollbar-y {
//     background-color: #99822c !important;
// }





















